.progess_track{
    width:18px;
    height: 18px;
    border-radius: 18px;
}
.margin_progress{
    margin:12px  0;
}   
.progress_wrapper{
    margin: 25px 35px;
    position: relative;
}
.line_wrapper{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border-bottom: 3px solid #736671;
    width: 100%;
    z-index: 1;
}